@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: hsl(205, 100%, 96%);
}

main {
  display: grid;
  place-items: center;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
}

.container {
  text-align: center;
  margin-top: 2rem;
}
.title h2 {
  display: grid;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.underline {
  border: 2px solid black;
  width: 5rem;
  margin: 0 auto;
}
